<!DOCTYPE html>
{% load custom_tags %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test App</title>
</head>

<body>
    {% my_tag as hello_world %}
    <p>{{ hello_world }}</p>

    <p>
        [Inbuilt] The time is now: {% now "Y-m-d H:i:s" %}
    </p>

    <p>
        [Custom Tags] The time is now: {% current_time "%Y-%m-%d %H:%M:%S" %}
    </p>
</body>

</html>